*{
    font-family: 'Raleway', sans-serif;
}

html,body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(147, 185, 241);
}

.container{
    display:flex;
}
.center{
    text-align:center
}

.texto{
    text-align: left;
    padding-left: 10% ;
}
.menu{
    position:fixed;
    box-sizing: border-box;
    top:0;
    display: flex;
    flex-direction: column;
    width:25%;
    height: 100vh;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    color:rgb(11, 80, 184)
}

.top{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

header{
    position: fixed;
    top:0;
    left:25%;
    width:75%;
    height: 10vh;
    background-color: rgb(199, 196, 209);
    color:blue;
    display:flex;
    align-items:center;
    justify-content: space-around;
    font-size: 1rem;
    z-index: 1;
}

main{
    position: relative;
    left:25%;
    margin:1 rem;
    color: black;
    
}

a{
    text-decoration: none;
}

.item{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 39px;
    padding-bottom:39px; 
}

.item:hover{
    background-color: rgb(100, 237, 214);
}
#a{
    width: 45%;
}
.foto{
    width: 50%;
    height: 50%;
    padding-left: 5%;
    padding-top:15px;
}
.section{
    display: flex;
    flex-direction: column;
    
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom:5rem; 

    max-width: 65vw;
}
.section .section-content{
    padding-top: 15%;
    min-height: 90vw;
}

.coluna{
    display: flex;
}